!pip install pytesseract
!pip install Pillow
!pip install opencv-python
!pip install easyocr
!sudo apt-get update
!sudo apt-get install -y tesseract-ocr
!sudo apt-get install -y tesseract-ocr-fra
!apt-get update
!apt-get install -y tesseract-ocr
!apt-get install -y libtesseract-dev

import pytesseract
from pytesseract import Output
import easyocr
import cv2
import json
